#header{
    text-align: center;
    color: orange;
    font-family: 'Trebuchet MS';
    font-size: 100px;
}
#or{
    text-align: center;
    color: orange;
    font-family: 'Trebuchet MS';
    font-size: 50px;
}
#regandlog{
    margin-left: 700px;
    text-align: center;
    color: black;
    font-family: 'Trebuchet MS';
    font-size: 30px;
    width: 500px;
    background-color: orange;
}